@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Index</h1>
    <p>Bienvenidos a uno de los mejores administradores de tareas, haga click en Log in para iniciar sesion</p>
</div>

<a class="btn-login" href='@Url.Action("Login","Account")'>Log in</a>


