@{
    ViewData["Title"] = "Index";
}

<div class="navbar">
    <div class="navbar-links">
        <a href="@Url.Action("mostrarLogin", "Account")">Iniciar Sesión</a>
        <a href="@Url.Action("mostrarRegister", "Account")">Registrarse</a>
    </div>
</div>
<div class="container">
    <h1>Bienvenido a TO-DO</h1>
    <p>Organiza tus tareas de forma simple y eficiente.</p>
    <div style="text-align:center; margin-top:32px;">
        <a href="@Url.Action("mostrarLogin", "Account")" class="btn">Iniciar Sesión</a>
        <a href="@Url.Action("mostrarRegister", "Account")" class="btn btn-secondary">Registrarse</a>
    </div>
</div>


